# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.venv/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/


# virtual environment
venv/
__pycache__/

# model & data files
*.pkl
*.csv

# system files
.DS_Store
.env